!!! HTML
%html
  %head
    %meta{ "http-equiv" => "content-type", content: "text/html;charset=UTF-8" }
    %title Selim's Bridge Hand
    %link{ href: 'stylesheet.css', rel: 'stylesheet', type: 'text/css' }
  %body
    %h1 Selim's Bridge Hand
    Oh aren't I awesomest

